pyaudio
SpeechRecognition==3.8.1
pyttsx3==2.90
spacy
requests==2.25.1
pyjokes==0.6.0
Flask
gtts
werkzeug
webdriver-manager==4.0.1
python-dotenv
pyowm
geocoder
decorator
screen-brightness-control
wmi
sklearn
ollama
pymupdf 
textract 
sentence-transformers 
numpy
chromadb
spotipy
pytube
googletrans
playsound
pycaw